html, body, #__next {
	height: 100%;
	margin: 0;
	padding: 0;
    justify-self: center;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f7f7f7;
	font-family: sans-serif;
}
